body {
  font-family: "Montserrat", sans-serif;
  background-color: #0a192f;
}

/* Typing */
.typewriter h1 {
  display: inline-block;
  color: #a8b2d1;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #64ffda; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 5s steps(100, end), blink-caret 1.5s linear infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #64ffda;
  }
}

/* About */
#about {
  background-color: #0a192f;
  color: #a8b2d1;
}

/* header */
header {
  color: #7fa1c3;
}

/* nav list color */
.nav-link {
  color: #64ffda;
}

.nav-link:hover {
  color: white;
}

/* resume button */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #7fa1c3;
}

/* photo of me */
.ferreira {
  border-radius: 50%;
}

.connect {
  text-decoration: none;
  background-color: #7fa1c3;
}

.connect:hover {
  background-color: #7fa1c3;
  color: white;
  border-radius: 0.5rem;
}

/* SKILLS */
#skill-title {
  color: #64ffda;
}

.skills {
  color: #a8b2d1;
  text-align: center;
  font-size: 1.5rem;
}

.tech-stack li {
  list-style: none;
  display: inline-block;
  padding-left: 40px;
  padding-top: 50px;
}

.skill-icon {
  width: 50px;
  height: 50px;
  color: #a8b2d1;
}

/* **********PROJECTS*************** */

#project-title {
  color: #64ffda;
}

.project-card {
  background-color: #7fa1c3;
}

.project-icons {
  color: #0a192f;
}

/* Project 1 styling */

.project-icons:hover {
  transform: scale(1.2);
  transition: all 1s;
  transform-origin: 50% 50%;
  color: #64ffda;
}
